:javascript
  new APOTOMO.Widget({refresh_interval: 800000, theme: 'default' });
  new APOTOMO.Widget({refresh_interval: 800000, theme: 'blue' });
  new APOTOMO.Widget({refresh_interval: 800000, theme: 'lile' });
  new APOTOMO.Widget({refresh_interval: 800000, theme: 'pinky' });