.apotomo_widget
  .apotomo_logo
    =link_to image_tag("#{HOME_PAGE_URL}/images/apotomo_logo.png", :width => '100px', :height => '29px', :class => 'apotomo_logo'), 'http://www.apotomo.de', :target => '_blank'
  .apotomo_rss
    =link_to image_tag("#{HOME_PAGE_URL}/images/rss_icon.png", :width => '20px', :height => '20px', :class => 'apotomo_rss_img'), 'http://feeds.feedburner.com/Apotomo?format=xml', :target => '_blank'
  .apotomo_refresh
    = image_tag "#{HOME_PAGE_URL}/images/ajax_loader_static.gif", :width => '20px', :height => '20px', :class => 'apotomo_refresh_img'
  .apotomo_posts
